body{
	color: #555;
	margin: 0;
	padding: 0;
}

div.content-row{
	box-sizing: border-box;
	padding: 0 20px;
}

div.content{
	position: relative;
	padding-top: 10px;
}

fieldset{
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 20px;
}

span.readOnly{
	display: block;
	padding-top: 6px;
}

span.help-block{
	color: #888;
	font-size: 0.9em;
}

h1 .btn-primary{
	position: absolute;
	top: 11px;
	right: 20px;
}

div.content h1{
	color: #888;
	font-size: 24px;
	padding-bottom: 10px;
}

div#actions{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #f0f0f0;
	padding: 10px 0;
	margin: 0;
	border-top: 1px solid #d0d0d0;
}

div#actions button:first-child, div#actions input:first-child, div#actions a:first-child{
	margin-left: 20px;
}

div#actions button, div#actions input, div#actions a{
	margin-right: 5px;
}

div.dialog, div.immersive, div.immersive-actions{
	display: none;
}

/* select list */
div.select{
  overflow:auto;
  overflow-y:scroll;
  height: 350px;
  margin: 0 15px 15px 0;
  border: 1px solid #ccc !important;
}

div.select.small{
  height: 200px;
}

div.select.mini{
  height: 150px;
}

div.select ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.select ul li.parent{
  color: #fff;
  background: #888;
  font-weight: bold;
  cursor: default;
}

div.select ul li{
  display: block;
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

div.select ul li:hover{
  background: #f0f0f0;
  cursor: pointer;
}

div.select ul li.selected{
  background: #fbec5d;
  font-weight: bold;
}

div.select em{
	display: block;
	font-style: normal;
	color: #888;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

table.table tr.active td{
	background-color: #fbec5d !important;
}

table.table tr.active a.switch{
 	display: none;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	body{
		margin: 0;
		padding: 0;
	}

	div#actions{
		position: relative;
		top: 0;
		left: 0;
		width: auto;
		margin: 0;	
		border-top: 0;	
	}


}
