body{
  color: #fff;
}

h1, h2, h3{
  padding-bottom: 10px;
  font-family: 'Share' !important;
  color: #888 !important;
}

header{
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

header a#logo{
   display: block;
   padding: 20px 20px 10px 20px;
}

blockquote{
  font-size: 1.4em;
  padding: 20px !important;
}

header h1{
  display: none;
}

header nav ul{
  list-style: none;
}

header nav li{
  display: inline-block;
}

header nav li a, header nav li a:hover{
  font-family: 'Share' !important;
  display: inline-block;
  margin-right: 30px;
  font-size: 1.4em;
  color: #aaa;
}

header nav li.selected a, header nav li.selected a:hover{
  font-weight: bold;
  color: #0088cc;
}

div.block{
  margin-bottom: 20px;
}

/* form */
span.field{
  display: block;
  width: auto !important;
  max-width: 100% !important;
  position: relative;
  padding: 0 15px 15px 15px;
}

span.field label{
  display: inline-block;
  width: 180px;
  text-align: right;
  padding-right: 10px;
  padding-top: 8px;
  vertical-align: top;
}

div.formgroup span.field em{
  display: block;
  margin-left: 195px;
  margin-top: 2px;
  color: #808080;
}

span.field input[type=text], span.field textarea{
  width: 300px;
}

span.field textarea{
  height: 70px;
}

span.list{
  display: inline-block;
  width: auto;
}

span.list label{
  display: block;
  text-align: left;
  margin: 1px 0 4px 0;
  padding: 0;
}

span.list input{
  margin-right: 7px;
}

span.required label{
  font-weight: bold;
}

span.list label{
  font-weight: normal !important;
  color: #404040 !important;
}

p.actions button{
  margin: 0 0 0 210px;
}

span.field.error label{
  color: #c34258;
}

/* begin slideshow */
div.slideshow{
  position: relative;
  padding: 3px 3px 3px 3px;
  margin: 0 0 20px 0;
  background: #f0f0f0;
}

div.slideshow a.left{
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 50px;
  height: 50px;
  z-index: 50;
  background: url('../images/slideshow-sprite.png') no-repeat -150px 0;
}

div.slideshow.hasCaptions a.left{
  bottom: 33px;
}

div.slideshow a.left:hover{
  background: url('../images/slideshow-sprite.png') no-repeat -100px 0;
}

div.slideshow a.right{
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: 50px;
  height: 50px;
  z-index: 50;
  background: url('../images/slideshow-sprite.png') no-repeat 0 0;
}

div.slideshow.hasCaptions a.right{
  bottom: 33px;
}

div.slideshow a.right:hover{
  background: url('../images/slideshow-sprite.png') no-repeat -50px 0;
}

div.slideshow p.caption{
  display: block;
  left: 0;
  z-index: 50; 
  padding: 0 5px 5px 5px;
}

div.slideshow div.slider{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none !important;
}

div.slideshow div.slider ul{
  list-style: none;
  margin:  0;
  padding: 0; 
  width: 20000px;
}

div.slideshow div.slider li{
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
}

/* twitter */
div.twitter{
  padding: 0;
  margin: 0 0 20px 0;
}

div.twitter ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

div.twitter ul li{
  padding: 0 0 10px 55px;
  margin: 0;
  position: relative;
}
  
div.twitter ul li{
    height: 50px;
}

div.twitter ul li img{
    position: absolute;
    top: 0;
    left: 0;
}

/* list */
div.list{
  position: relative;
  margin: 0 0 10px 0;
  padding: 0;
}

div.listItem{
  position: relative;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;  
  border-bottom: 1px solid #eee;  
}

div.listItem:first-child{
  margin-top: 0;
}

div.listItem:last-child{
  border-bottom: none !important;
}

div.listItem label{
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

div.listItem em.dates, div.listItem em.callout, div.listItem em.address{
  display: block;
  color: #888;
  font-style: normal;
  font-size: 0.8em;
  padding: 1px 0 5px 0;
}

div.listItem p, div.listItem h4{
  margin: 0 !important;
  padding: 0 !important;
}

div.listItem span.icon{
  position: absolute;
  top: 15px;
  left: 0;
}

div.listItem span.image{
  position: absolute;
  top: 2px;
  left: 0;
}

div.listItem span.image img{
  width: 75px;
  height: 75px;
}

div.listItem span.image img{
  border: 2px solid #f0f0f0;
}

div.listItem.hasIcon{
  padding-left: 40px;
}

div.listItem.hasImage{
  padding-left: 90px;
  min-height: 80px;
}

div.col.w70 div.list.hasMap div.listItem, div.col.w30 div.list.hasMap div.listItem, div.col.w50 div.list.hasMap div.listItem{
  width: auto;
}

div.list h4 a{
  font-size: 1.1em;
}

span#pager{
  display: block;
  padding: 10px 0 20px 10px;  
  color: #808080;
  font-style: italic;
}

span#pager a{
  margin: 0 4px;
  padding: 2px 4px;
}

span#pager a.selected{
  font-weight: bold;
  background: #808080;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px;
}

p.nopages{
  color: #8C0303;
  font-style: italic;
}

/* map */
div.map-container{
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  height: 250px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
}

div.map p.map-address{
  margin: 0;
  padding: 0;
  font-style: italic;
}

/* file */
p.file{
  position: relative;
  padding-left: 40px;
  min-height: 32px;
}

p.file span.type{
  position: absolute;
  top: 3px;
  left: 0;
  width: 32px;
  height: 32px;
  background: url('../images/file-sprite.png') no-repeat 0 0;
}

p.file.word span.type{
  background: url('../images/file-sprite.png') no-repeat -96px 0;
}

p.file.pdf span.type{
  background: url('../images/file-sprite.png') no-repeat -64px 0;
}

p.file.image span.type{
  background: url('../images/file-sprite.png') no-repeat -32px 0;
}

p.file a.file-name{
  margin-right: 10px;
}

/* images */
div.o-image img{
  margin: 5px 0 20px 0;
  border: 3px solid #f0f0f0;
}

div.l-image, div.r-image{
  clear: both;
}

div.l-image img{
  float: left;
  margin: 5px 20px 20px 0;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}

div.r-image img{
  float: right;
  margin: 5px 0 20px 20px;
  border: 3px solid #f0f0f0;
  width: 50%;
  max-width: 50%;
}

/* cart */
div.cart div.item, div.cart div.header{
  margin-bottom: 10px;
}

div.cart div.header span{
  color: #888;
}

div.cart span.product-details{
  display: inline-block;
  width: 270px;
  margin-right: 20px;
}

div.cart span.product-sku{
  font-style: italic;
  font-size: 0.9em;
  color: #888;
  margin-left: 5px;
}

div.cart div.header span.product-sku{
  display: none;
}

div.cart span.product-price{
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 20px;
}

div.cart span.product-quantity{
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 20px;
}

div.cart span.product-quantity input{
  width: 50px;
}

/* calendar */
div.calendar{
  width: 100%;
  margin-bottom: 20px;
}

div.calendar h4{
  margin: 0 0 5px 0;
  padding: 0;
}

div.calendar table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

div.calendar table th{
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px;
  color: #888;
  background-color: #f0f0f0;
  font-size: 0.9em;
}

div.calendar table td{
  position: relative;
  width: 14%;
  height: 100px;
  border-right: 1px solid #ddd;
  padding: 3px 3px 3px 28px;
  vertical-align: top;
}

div.calendar table td.selected{
  background-color: #ffffcc;
}

div.calendar table td.nextMonth{
  background-color: #f8f8f8;
}

div.calendar table td span.day{
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 2em;
  font-size: 1.3em;
  color: #aaa;
}

div.calendar td span.event{
  display: block;
  margin: 0 0 3px 0;
  padding: 0 0 3px 0;
  font-size: 0.9em;
  border-bottom: 1px solid #f0f0f0;
}

div.calendar td span.event:last-child{
  border-bottom: none;
}

div.calendar td span.time{
  display: block;
  font-size: 0.9em;
  color: #aaa;
}

div.calendar em.footnote{
  display: block;
  color: #aaa;
  font-size: 0.9em;
  margin: 3px 0 0 0;
}

p.moreWeeks{
  text-align: right;
}

p.moreWeeks a{
  font-size: 11px;
}

/* event */
div.event{
  margin-bottom: 20px;
}

div.event span.event-block{
  display: block;
  margin-bottom: 5px;
}

div.event span.event-block label{
  display: inline-block;
  width: 50px;
  font-weight: bold;
}

/* byline */
div.byline{
  display: block;
  margin-bottom: 20px;
  font-size: 0.9em;
  margin-top: 2px;
}

div.byline span{
  color: #888;
}

/* messages */
p#message{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  margin-top: -43px;
  padding: 0;
  z-index: 1000;
  border: none;
  font-size: 1.0em;
  text-align: center;
  font-style: normal;
}

p#message span{
  display: block;
  margin: 0;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
}

p#message a.close{
  position: absolute;
  display: block;
  width: 19px;
  height: 20px;
  top: 7px;
  right: 15px;
  cursor: pointer;
} 

p#message.progress span{
  background: #fbec5d;    
  padding-left: 30px;
  padding-right: 10px;  
}

p#message.progress a.close{
  display: none;
}

p#message.error span{
  background: #A4110A;
  color: #fff;    
  background-image: none;
}

p#message.error a.close{
  display: none;    
}

p#message.success span{
  background: #7ec57e;
  color: #fff;    
  background-image: none;
}

p#message.success a.close{
  display: none;
}

/* footer */
footer{
  position: relative;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 10px 0 0 0;
  clear: both;
  border-top: 1px solid #ddd;
}

footer div{
  position: relative;
  margin: 0 20px;
}

footer p{
  padding: 10px 0 30px 5px;
  font-size: 0.85em;
}

footer p.poweredBy{
  position: absolute;
  top: 0;
  right: 5px;
}